<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Login_StyleSheet.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>


<script src="Login.js"></script>

<img src="CyberNinjasLogo.jpg">

<div>
    <h2>Admin Login</h2>
</div>

<div ng-app="myApp" ng-controller="myCtrl">
    <form>
        <table id="adminTable" cellspacing="10">
            <tr>
                <td>
                    <label for="username" id="usernameLbl">User Name:</label>
                </td>
                <td>
                    <input type="text" id="username" ng-model="username"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="password" id="passwordLbl">Password:</label>
                </td>
                <td>
                    <input type="text" id="password" ng-model="password"/>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="button" id="adminBtn" ng-click="sendData(username,password)">Enter</button>
                    {{msg}}
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
