body
{
    background: black;
}

img
{
    width: 240px;
    height: 110px;
}

h2
{
    font-size: 50px;
    color: #3399ff;
    text-align: center;
}

tr
{
    padding: 20px;
}

#adminTable, #dataTable
{
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #3399ff;
    border-radius: 5px;
    padding: 10px;
    background-color: lightgrey;
    font-family: Georgia;
}

#nameTxt, #emailTxt,
#pinTxt, #serialnumTxt
{
    width: 192px;
}

#sunSrtTxt, #sunStpTxt,
#monSrtTxt, #monStpTxt,
#tuesSrtTxt, #tuesStpTxt,
#wedSrtTxt, #wedStpTxt,
#thursSrtTxt, #thursStpTxt,
#friSrtTxt, #friStpTxt,
#satSrtTxt, #satStpTxt
{
    width: 50px;
}

#addBtn, #backBtn
{
    font-size: medium;
    font-family: Georgia;
}
